if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MGUIA]') and OBJECTPROPERTY(id, N'IsTable') = 1)
   DROP TABLE MGUIA
GO
TRUNCATE TABLE LOG_INFOREST
GO
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DGUIA]') and OBJECTPROPERTY(id, N'IsTable') = 1)
   DROP TABLE DGUIA
GO
truncate table tubigeo
GO
insert into tubigeo (tCodigo,tdistrito,tprovincia,tdepartamento ) values ('010101','CHACHAPOYAS','CHACHAPOYAS','AMAZONAS')
insert into tubigeo (tCodigo,tdistrito,tprovincia,tdepartamento ) values ('010102','ASUNCION','CHACHAPOYAS','AMAZONAS')
insert into tubigeo (tCodigo,tdistrito,tprovincia,tdepartamento ) values ('010103','BALSAS','CHACHAPOYAS','AMAZONAS')
GO
delete from TTABLA where tTabla='FRECUENCIA'
INSERT TTABLA (TTABLA, TCODIGO, tDetallado, tResumido, nBoton, lActivo) values ('FRECUENCIA','00','Diario','Diario',0,1)
INSERT TTABLA (TTABLA, TCODIGO, tDetallado, tResumido, nBoton, lActivo) values ('FRECUENCIA','01','Lunes','Lunes',0,1)
INSERT TTABLA (TTABLA, TCODIGO, tDetallado, tResumido, nBoton, lActivo) values ('FRECUENCIA','02','Martes','Martes',0,1)
GO
delete FROM TTABLA where TTABLA='MOTIVOELIMINACION' AND tCodigo='000'
GO
delete FROM TTABLA where TTABLA='MOTIVODESCUENTO' AND tCodigo='000'
GO
delete FROM TTABLA where TTABLA='TIPOCANCELACION' AND tCodigo='000'
delete FROM TTABLA where TTABLA='TIPOCANCELACION' AND tCodigo='001'
delete FROM TTABLA where TTABLA='TIPOCANCELACION' AND tCodigo='002'
GO
delete FROM TTABLA where TTABLA='ESTADOGUIA'
GO
delete FROM TTABLA where TTABLA='ESTADOPEDIDO' AND tCodigo='04'
delete FROM TTABLA where TTABLA='ESTADOPEDIDO' AND tCodigo='05'
GO
delete FROM TTABLA where TTABLA='TIPOPAGO' and TCODIGO='04'
delete FROM TTABLA where TTABLA='TIPOPAGO' and TCODIGO='05'
GO
delete FROM TTABLA where TTABLA='TIPOCLIENTEFRECUENTE' and TCODIGO='00'
--delete FROM TTABLA where TTABLA='TIPOCLIENTEFRECUENTE' and TCODIGO='01'
--INSERT TTABLA (TTABLA, TCODIGO, tDetallado, tResumido, nBoton, lActivo) values ('TIPOCLIENTEFRECUENTE','01','CLIENTE DELIVERY','CLIENTE DELIVERY',0,1)
GO
DELETE FROM TTABLA WHERE TTABLA='TIPOCANCELACION' and tCodigo='000'
DELETE FROM TTABLA WHERE TTABLA='TIPOCANCELACION' and tCodigo='001'
DELETE FROM TTABLA WHERE TTABLA='TIPOCANCELACION' and tCodigo='002'
GO
DELETE FROM TTABLA WHERE TTABLA='TIPOUBICACION'
GO
DELETE FROM TTABLA WHERE TTABLA='UNIDADNEGOCIO' AND TCODIGO='00'
GO
delete from TACCESO
INSERT INTO TACCESO values ('00000001','03','Boton Platos','mdiAdministracion','BT','cmdopcion1',null,null)
INSERT INTO TACCESO values ('00000002','03','Boton Clientes','mdiAdministracion','BT','cmdopcion2',null,null)
INSERT INTO TACCESO values ('00000003','03','Boton Mesas','mdiAdministracion','BT','cmdopcion3',null,null)


--CESAR

--INSERT INTO TACCESO values ('10207000','03','Clientes Cuentas Corrientes','mdiAdministracion','MN','mnuCliente',null,4)
--INSERT INTO TACCESO values ('10209500','03','Maitres','mdiAdministracion','MN','mnuMaitre','TTABLA-MAITRE',39)
--INSERT INTO TACCESO values ('10308000','03','Equivalencia de Productos','mdiAdministracion','MN','mnuEquivalencias','TPRODUCTOXPRODUCTO',15)
--INSERT INTO TACCESO values ('10308000','03','Clientes Frecuentes','mdiAdministracion','MN','mnuDelivery',null,15)





GO
if (select count(tCodigo) from TTABLA where tTabla='ETIQUETA') = 0 
BEGIN
insert into TTABLA (TTABLA, TCODIGO, NTAMANO, TDETALLADO, TRESUMIDO, LACTIVO) VALUES('ETIQUETA', '01',2,'','',1)
END
GO
if (select count(tCodigo) from TTABLA where tTabla='CAJARAPIDA') = 0 
BEGIN
   insert into TTABLA select 'CAJARAPIDA','11',null,'','',null,1,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','12',null,'','',null,2,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','13',null,'','',null,3,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','14',null,'','',null,4,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','15',null,'','',null,5,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','16',null,'','',null,6,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','17',null,'','',null,7,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','18',null,'','',null,8,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','19',null,'','',null,9,'',0,1,null,'',0

   insert into TTABLA select 'CAJARAPIDA','21',null,'','',null,1,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','22',null,'','',null,2,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','23',null,'','',null,3,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','24',null,'','',null,4,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','25',null,'','',null,5,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','26',null,'','',null,6,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','27',null,'','',null,7,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','28',null,'','',null,8,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','29',null,'','',null,9,'',0,1,null,'',0

   insert into TTABLA select 'CAJARAPIDA','31',null,'','',null,1,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','32',null,'','',null,2,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','33',null,'','',null,3,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','34',null,'','',null,4,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','35',null,'','',null,5,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','36',null,'','',null,6,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','37',null,'','',null,7,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','38',null,'','',null,8,'',0,1,null,'',0
   insert into TTABLA select 'CAJARAPIDA','39',null,'','',null,9,'',0,1,null,'',0
end
GO
delete from  tusuario where substring(tcodigousuario,1,1) like '*'
GO
if (select count(*)from TUSUARIO )=0 or (select count(*) from TUSUARIO where tCodigoUsuario='00001')=0
	begin
		insert into TUSUARIO select '00001','00','ADMIN','ADMIN','!ª)(=',1,GETDATE(),'','',''
	end
GO
if not exists (select * from TUSUARIO where tDetallado='ADMIN' or tResumido='ADMIN') and (select count(*)from TUSUARIO )>0
	begin
		insert into TUSUARIO select (select RIGHT('00000'+ convert(nvarchar(5),(MAX(tcodigousuario) + 1)),5) from TUSUARIO ),'00','ADMIN','ADMIN','!ª)(=',1,GETDATE(),'','',''
	end
GO
DELETE FROM TTABLA WHERE TTABLA='MOZO' AND substring(TCODIGO,1,1)='*'
GO

if (select count(TCODIGO) from TTABLA where  TTABLA='MOZO')=0 
	begin
		insert into TTABLA select 'MOZO','0001',0,'ADMIN','ADMIN',		'',0,'!ª)(=',1,1,1,'',1
	END
GO

if (select count(TGRUPOUSUARIO) from TGRUPOUSUARIO where TGRUPOUSUARIO='00')=0 
begin
	insert into TGRUPOUSUARIO select '00','INFHOTEL',1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,'00',1,1,1,1,1,1,1
END
else
begin
update TGRUPOUSUARIO
set tDetallado='INFHOTEL', lModulo01=1,lModulo02=1,lModulo03=1, lModulo04=1,  lOpcion01=1,
lOpcion02=1,lOpcion03=1,lOpcion04=1,lOpcion05=1,lOpcion06=1,lOpcion07=1,lOpcion08=1,lOpcion09=1,lOpcion10=1,lOpcion11=1,
lOpcion12=1,lOpcion13=1,lOpcion14=1,lOpcion15=1,lOpcion16=1,lOpcion17=1,lOpcion18=1,lOpcion19=1,lOpcion20=1,lOpcion21=1,
lactivo=1, lModulo05=1, lOpcion22=1, lOpcion24 = 1, lOpcion25 = 1, lOpcion26 = 1, lOpcion27 = 1
where TGRUPOUSUARIO='00'
end
GO
if (select count(tF1) from TMENSAJE) = 0
   INSERT INTO TMENSAJE (tF1) VALUES ('')
GO
--Actualiza Datos
UPDATE TPRODUCTO SET TUNIDADNEGOCIO='00' where isnull(TUNIDADNEGOCIO,'')=''
UPDATE DPEDIDO SET TUNIDADNEGOCIO='00' where isnull(TUNIDADNEGOCIO,'')=''
GO
update tTipoDocumentoImpresora set lImpuesto1 = 0 where isnull(lImpuesto1,0)=0
update tTipoDocumentoImpresora set lImpuesto2 = 0 where isnull(lImpuesto2,0)=0
update tTipoDocumentoImpresora set lImpuesto3 = 0 where isnull(lImpuesto3,0)=0
GO
update tProducto set lImpuesto4 = 0 where isnull(lImpuesto4,0)=0
update tProducto set lImpuesto5 = 0 where isnull(lImpuesto5,0)=0
update tProducto set lImpuesto6 = 0 where isnull(lImpuesto6,0)=0
update tProducto set lImpuesto7 = 0 where isnull(lImpuesto7,0)=0
update tProducto set lImpuesto8 = 0 where isnull(lImpuesto8,0)=0
update tProducto set lImpuesto9 = 0 where isnull(lImpuesto9,0)=0
update tProducto set lImpuesto10 = 0 where isnull(lImpuesto10,0)=0
update tProducto set lImpuesto11 = 0 where isnull(lImpuesto11,0)=0
update tProducto set lImpuesto12 = 0 where isnull(lImpuesto12,0)=0
update tProducto set lImpuesto13 = 0 where isnull(lImpuesto13,0)=0
update tProducto set lImpuesto14 = 0 where isnull(lImpuesto14,0)=0
update tProducto set lImpuesto15 = 0 where isnull(lImpuesto15,0)=0
update tproducto set lDescuento=1 where isnull(lDescuento,1)=1
update tProducto set lLocal = 1 where isnull(lLocal,1)=1
update tProducto set lDelivery = 1 where isnull(lDelivery,1)=1
update tProducto set lLlevar = 1 where isnull(lLlevar,1)=1
update tProducto set lCanal4 = 1 where isnull(lCanal4,1)=1
update tProducto set lCanal5 = 1 where isnull(lCanal5,1)=1
update tProducto set nPrecioDelivery = 0 where isnull(nPrecioDelivery,0)=0
update tProducto set nPrecioLlevar = 0 where isnull(nPrecioLlevar,0)=0
update tProducto set nPrecioCanal4 = 0 where isnull(nPrecioCanal4,0)=0
update tProducto set nPrecioCanal5 = 0 where isnull(nPrecioCanal5,0)=0
update tproducto set ninsumo=0 where isnull(nInsumo,0)=0
update tproducto set ninsumo2=0 where isnull(nInsumo2,0)=0
update tproducto set ninsumo3=0 where isnull(nInsumo3,0)=0
update tproducto set ninsumo4=0 where isnull(nInsumo4,0)=0
update tproducto set ninsumo5=0 where isnull(nInsumo5,0)=0
update tproducto set nManoObra=0 where isnull(nManoObra,0)=0
update tproducto set nManoObra2=0 where isnull(nManoObra2,0)=0
update tproducto set nManoObra3=0 where isnull(nManoObra3,0)=0
update tproducto set nManoObra4=0 where isnull(nManoObra4,0)=0
update tproducto set nManoObra5=0 where isnull(nManoObra5,0)=0
update tproducto set nGasto=0 where isnull(nGasto,0)=0
update tproducto set nGasto2=0 where isnull(nGasto2,0)=0
update tproducto set nGasto3=0 where isnull(nGasto3,0)=0
update tproducto set nGasto4=0 where isnull(nGasto4,0)=0
update tproducto set nGasto5=0 where isnull(nGasto5,0)=0
GO
update TTABLA set tIcono = 0 where TTABLA = 'TIPODOCUMENTO' and isnull(tIcono,0)=0
update TTABLA set nTamano = 0 where TTABLA = 'MOZO' and isnull(nTamano,0)=0
GO
UPDATE TDELIVERY SET lPuntos=1 where isnull(lPuntos,1)=1
UPDATE TDELIVERY SET nAcumulado=0 where isnull(nAcumulado,0)=0
UPDATE TDELIVERY SET nUtilizado=0 where isnull(nUtilizado,0)=0
UPDATE TDELIVERY SET nDisponible=0 where isnull(nDisponible,0)=0
GO
UPDATE TCAJA SET tTipoPedido = '01' where isnull(tTipoPedido,'')=''
update TPARAMETRO set nDecimal = 2 where isnull(nDecimal,0)=0
UPDATE TTABLA SET nTamano = '1' where isnull(nTamano,1)=1 and TTABLA='TIPODOCUMENTO'
GO
update TSUBGRUPO set nOrden=1 where isnull(nOrden,0)=0
delete from tproductoarea where tcodigoproducto in (select tcodigoproducto from tproducto where lcombinacion=1)
GO
update mpedido set fLlegada =fRegistro where isnull(fLlegada,0)=0 and tTipoPedido='02'
GO
update TOFERTA set lCanal4=1 where isnull(lCanal4,0)=0
update TOFERTA set lCanal5=1 where isnull(lCanal5,0)=0
update treserva set tprioridad=1
GO
UPDATE TUSUARIO set tBandaMagnetica='' where isnull(tBandaMagnetica,'')=''
UPDATE TPROPIEDAD set tEnlace='' where isnull(tEnlace,'')='' 
UPDATE TPRODUCTOPROPIEDAD set tEnlace='' where isnull(tEnlace,'')='' 
UPDATE TCOMBOPROPIEDAD set tEnlace='' where isnull(tEnlace,'')='' 
UPDATE TMOTIVODESCUENTO set lTopePedido=0 where isnull(lTopePedido,0)=0
UPDATE TMOTIVODESCUENTO set lBloqueo=0 where isnull(lBloqueo,0)=0
UPDATE TMOTIVODESCUENTO set lRatio=0 where isnull(lRatio,0)=0
UPDATE TMOTIVODESCUENTO set lAplicablePedido=0 where isnull(lAplicablePedido,0)=0
GO
update TTABLA set tResumido = substring(tResumido,1,15) where tTABLA='MOZO' and len(ltrim(tResumido))>15
update TUSUARIO set tResumido = substring(tResumido,1,15) 
GO
delete from taccesoenvia where substring(tcodigoacceso,4,5)='00000'
GO
update TLOCAL set tCodigoLocal='0'+LTRIM(RTRIM(tCodigoLocal)) where LEN(LTRIM(tCodigoLocal))=2 
update TTABLA set tValor='0'+LTRIM(RTRIM(tValor)) where LEN(LTRIM(tValor))=2 and TTABLA='SALON'
GO
update TPARAMETRO  set lImprimeDiaContable =0 where lImprimeDiaContable is null
GO
if (select count(tCodigo) from TTABLA where tTabla='PAISORIGEN' and TCODIGO='000') = 0 
Begin
insert into TTABLA (TTABLA, TCODIGO, NTAMANO, TDETALLADO, TRESUMIDO,NVALOR, LACTIVO) 
VALUES('PAISORIGEN', '000',2,'PERU','PERU',1,1)
end
GO
if (select count(tCodigo) from TTABLA where tTabla='PAISORIGEN' and TCODIGO='001') = 0 
Begin
insert into TTABLA (TTABLA, TCODIGO, NTAMANO, TDETALLADO, TRESUMIDO,NVALOR, LACTIVO) 
VALUES('PAISORIGEN', '001',2,'BOLIVIA','BOLIVIA',0,1)
end
GO
if (select count(tCodigo) from TTABLA where tTabla='PAISORIGEN' and TCODIGO='002') = 0 
Begin
insert into TTABLA (TTABLA, TCODIGO, NTAMANO, TDETALLADO, TRESUMIDO,NVALOR, LACTIVO) 
VALUES('PAISORIGEN', '002',2,'ECUADOR','ECUADOR',0,1)
end
GO
if (select count(tCodigolocal) from TLOCAL) = 0 
BEGIN
insert into tlocal (tcodigolocal,tdetallado,tresumido,lactivo)
values('01','PRINCIPAL','PRINCIPAL',1)
end
GO
 --Sucursal 
IF(select count(tCodigo) from TTABLA WHERE tCodigo ='00' and TTABLA ='SUCURSAL' )= 0
BEGIN 
insert into TTABLA( tTabla, tCodigo, tDetallado, tResumido, nValor, tValor, tIcono, lActivo) values ('SUCURSAL',  '00',  'SIN SUCURSAL',  'SIN SUCURSAL', 0,'','',1) 
END
GO
--diacontable
if (select case when ldiacontableautomatico=1 then 2 else 0 end + case when ldiacontablemanual=1 then 2 else 0 end from tparametro) =0
begin
update tparametro set ldiacontableautomatico=1 , thoracierrediacontable='06:00'
end 
GO
--SMALLDATETIME A DATETIME
if (SELECT    upper(systypes.name)      FROM         syscolumns INNER JOIN  sysobjects ON syscolumns.id = sysobjects.id INNER JOIN systypes ON systypes.xtype = syscolumns.xtype WHERE     (sysobjects.name = 'DPEDIDO') AND  (systypes.name <> 'sysname')  AND   syscolumns.name='fenvio')='SMALLDATETIME'
BEGIN
	exec RSP_ALTERACOLUMNA 'DPEDIDO','FENVIO','datetime','8','N'
END 
GO
if (select count(*) from ttabla where TTABLA='ESTADOFRECUENTE') = 0 
BEGIN
INSERT TTABLA (TTABLA, TCODIGO, tDetallado, tResumido, nBoton, lActivo) values ('ESTADOFRECUENTE','01','ACTIVO','ACTIVO',0,1)
end
GO
if (select count(tCodigo) from TTABLA where tTabla='TIPODOCUMENTO') > 0 
BEGIN
	insert into TTIPODOCUMENTO   
	select tCodigo, tDetallado, tResumido, tValor, nValor, tIcono, 0, nTamano, lActivo, 0,'',0,'',0,0,0,0,0,0,'',0,0,0,'',0 from TTABLA where tTABLA='TIPODOCUMENTO'
	DELETE FROM TTABLA where tTABLA='TIPODOCUMENTO'
END
GO
if (select count(tCodigoCanalVenta) from TCANALVENTA) = 0
begin
   INSERT INTO TCANALVENTA
   select tCodigo, tDetallado, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, lActivo,0,'','','' from ttabla where ttabla='TIPOPEDIDO'
end
GO
if (select count(tCodigoCanalVenta) from TCANALVENTA) = 1 
begin
   INSERT INTO TCANALVENTA select '02', '', 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0,0,'','',''
   
end
GO
if (select count(tCodigoCanalVenta) from TCANALVENTA) = 2
begin
   INSERT INTO TCANALVENTA select '03', '', 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0,0,'','',''
end
GO
if (select count(tCodigoCanalVenta) from TCANALVENTA) = 3 
begin
   INSERT INTO TCANALVENTA select '04', '', 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0,0,'','',''
end
GO
if (select count(tCodigoCanalVenta) from TCANALVENTA) = 4
begin
   INSERT INTO TCANALVENTA select '05', '', 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0,0,'','',''
end
GO
if (select count(TTABLA) from TTABLA where tTabla='TTIPOPEDIDO') > 0
Begin
	Update TCANALVENTA set lObligaMesa=TCAJA.lObliga, lObligaPax=TCAJA.lPax, lObligaMozo=TCAJA.lMozo, lObligaMotorizado=TCAJA.lMotorizado
	from TCAJA, TCANALVENTA
	where TCAJA.tTipoPedido=TCANALVENTA.tCodigoCanalVenta 
	delete FROM TTABLA where tTabla='TTIPOPEDIDO'
End
GO
if (select avg(len(ltrim(tCodigoDelivery))) FROM TDELIVERY) < 6
Begin
   update TDELIVERY set tCodigoDelivery = right('00'+ ltrim(tCodigoDelivery),7)
End
GO
IF EXISTS (SELECT * FROM sysobjects WHERE type = 'U' AND name = 'tPaseCliente')
	BEGIN
		drop table tPaseCliente
	END
ELSE
	BEGIN
		CREATE TABLE tPaseCliente (tcodigoDelivery nVarChar(10) collate Modern_Spanish_CI_AS, tCodigoCompania nVarChar(10) collate Modern_Spanish_CI_AS)		
	END

GO
if (select count(tCodigoCliente) FROM TCOMPANIA) > 0
Begin
	Declare @Correlativo as int
	set @Correlativo = (select ISNULL(max(tCodigoDelivery),0) FROM TDELIVERY)
	insert into  TDELIVERY
	select substring('0000000',1,7-len(ltrim(str(@correlativo+tCodigoCliente))))+ltrim(str(@correlativo+tCodigoCliente)), 
	'00', tapecom, tnomsoc, tDireccion, tTelefono1, '','','','','','','',0,
	null,tEmail,'',lActivo,0,0,0,0, tUsuario, fRegistro,getdate(), lReplica,
	'00', 0, 1, nConsumo, nLinea, tTipoCtaCte, tSubTipoCtaCte, '',ISNULL(tIdentidad,''),'','',0,0,'','',0,0
	From tCompania

	insert tPaseCliente
	select substring('0000000',1,7-len(ltrim(str(@correlativo+tCodigoCliente))))+ltrim(str(@correlativo+tCodigoCliente)), tCodigoCliente
	from TCOMPANIA

	update MPEDIDO set tClienteDelivery= right('00'+tClienteDelivery,7) where len(tClienteDelivery)>0
	update MPEDIDO set tClienteCtaCte= substring('0000000',1,7-len(ltrim(str(@correlativo+tClienteCtaCte))))+ltrim(str(@correlativo+tClienteCtaCte))
	where len(tClienteCtaCte)>0
	delete from tCompania
End
GO
IF EXISTS (SELECT * FROM sysobjects WHERE type = 'U' AND name = 'tPaseCliente')
begin
if (select count(*) FROM tPaseCliente) > 0
 begin
		 update MDOCUMENTO
		 set tClientePago =tpasecliente.tcodigodelivery
		 from  MDOCUMENTO inner join tpasecliente on mdocumento.tclientepago=tpasecliente.tcodigocompania
end
end
GO
delete from TTRAMITE
insert into TTRAMITE (tCodigoTramite,tDescripcion,lSolicitaNAnteriorAutorizacion,lActivo) 
				values ('00001','Solicitud de Autorizacion', 0,1)
GO
insert into TTRAMITE (tCodigoTramite,tDescripcion,lSolicitaNAnteriorAutorizacion,lActivo) 
				values ('00002','Solicitud de Autorizacion por Cambio de Software',1,1)
GO
insert into TTRAMITE (tCodigoTramite,tDescripcion,lSolicitaNAnteriorAutorizacion,lActivo) 
				values ('00003','Solicitud de Renovacion de Autorizacion', 1,1)				
				
GO

delete FROM TTABLA where TTABLA='ESTADOSOLICITUD'
GO

delete FROM TTABLA where TTABLA='ESTADODETSOLICITUD'
GO
update TPARAMETRO set lMobilePasswordCCaja=0 where lMobilePasswordCCaja is null
GO
update TPARAMETRO set lMobileUnidadNegocio=0 where lMobileUnidadNegocio is null

GO
update tcaja set lBloqueaPrecuenta=0 where lBloqueaPrecuenta is null

GO
update TCAJA set lMultiareasubgrupo=0 where lMultiareasubgrupo is null
GO
update TCAJA set lMultiareacaja=0 where lMultiareacaja is null
GO
if (select count(*) from TPARAMETRO where tVersion<'4.94.4111')>0
begin
		update TCAJA set lmultiareacaja=1 where isnull(tsubalmacen,'')<>''
end
GO
update tcaja set tsectorventa='' where tsectorventa is null
GO
-----CESAR DOCUMENTOS VARIABLES
DELETE FROM TTABLA where tTabla='FORMULARIO'
-------
GO
----GRUPO USUARIO
UPDATE TGRUPOUSUARIO SET tNivel = tGrupoUsuario
GO
---- MOTIVO NOTA CREDITO ------
DELETE FROM TTABLA WHERE tTabla='MOTIVONOTACREDITO'
GO
UPDATE TPARAMETRO
SET lHuellaDigital=1 where lHuellaDigital is null and lHuellaSecugen is null
GO
if (select count(*) from TPARAMETRO where tVersion<'4.94.5073')>0
begin
		update ttipodocumento set lidentidadruc=1,lidentidadotros=0 where isnull(lvalidaruc,0)=1
 end
GO
if (select count(*) from TPARAMETRO where tVersion<'4.94.5073')>0
begin
	declare @codigop nvarchar(100)
	select @codigop=tcodigo from vPaisOrigen where lactivo=1
	if (@codigop='000' )
	begin
		update tcliente set tTipoIdentidad='02' where LEN(ltrim(TCLIENTE.tIdentidad))>10
		and isnull(ttipoidentidad,'')=''
	end 
end
GO
update ttipodocumento set nmontomaximo=isnull(nmontomaximo,0)
GO
UPDATE TPARAMETRO SET lFacturacionE = 0 Where lFacturacionE IS NULL
GO
UPDATE TCANALVENTA SET LOBLIGAENTREGARA=0 WHERE lobligaentregara is null
GO
update tproductopropiedad set ncantidad= 1 where ncantidad is null
GO
update tcombopropiedad set ncantidad= 1 where ncantidad is null
GO
update TPROPIEDAD set lSolicitaCantidad=0 where lSolicitaCantidad is null
GO
update tparametro set lLogCajaRapida=0 where llogcajarapida is null
GO
UPDATE TLOCAL SET tenlacecontable='' where tenlacecontable is null
GO
update tcaja set lBuscaPedidoNumero=0 where lBuscaPedidoNumero  is null
GO
update tcaja set lCodigoReciboIngreso=0 where lCodigoReciboIngreso  is null
GO
UPDATE TCANALVENTA SET tenlacecontable1='' where tenlacecontable1 is null
GO
UPDATE TCANALVENTA SET tenlacecontable2='' where tenlacecontable2 is null
GO
UPDATE TPARAMETRO SET lEmailConfirmacion=0 where lemailconfirmacion is null
GO
UPDATE TPARAMETRO SET lEmailRecordatorio=0 where lemailRecordatorio is null
GO
UPDATE TPARAMETRO SET lEmailAgradecimiento=0 where lemailAgradecimiento is null
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-- To allow advanced options to be changed.
EXEC sp_configure 'show advanced options', 1
GO
-- To update the currently configured value for advanced options.
RECONFIGURE
GO
-- To enable the feature.
EXEC sp_configure 'xp_cmdshell', 1
GO
-- To update the currently configured value for this feature.
RECONFIGURE
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
update tparametro set nTiempoToleranciaAnf=0 where nTiempoToleranciaAnf is null
GO
	IF  (SELECT TCODIGO FROM vPaisOrigen)='000' 
	BEGIN
		UPDATE  TCLIENTE SET tIdentidad=LTRIM(RTRIM(tIdentidad)) WHERE lActivo=1-- BORRA LOS ESPACION EN BLANCO DELANTE Y DETRAS DEL NUMERO DE IDENTIFICACION PARA PODER BUSCAR LA LONGITUD 
		UPDATE  TCLIENTE SET  lActivo=0 where len(tIdentidad)<>11 AND tTipoIdentidad='02'AND lActivo=1-- PARA TIPO IDENTIFICACION RUC
		UPDATE  TCLIENTE SET  lActivo=0 where len(tIdentidad)<>8 AND tTipoIdentidad='01' AND lActivo=1 -- PARA TIPO IDENTIFICACION DNI
		UPDATE TCLIENTE SET lActivo=0 WHERE ISNULL(tTipoIdentidad,'')=''
		UPDATE TCLIENTE SET tEmpresa=LTRIM(RTRIM(tEmpresa)) WHERE lActivo=1
	END 
GO
--- se configura los correos dentro del sistema 
delete from TTABLA where TTABLA='EMAIL_PRORROGA' and TCODIGO='01'
GO
--- configuracion de email
delete from TTABLA where TTABLA='EMAIL_PRORROGA_CON' 
GO
--Configuracion motivos sunat --genera txt
delete from ttabla where ttabla ='MOTIVOSUNAT'
GO
 UPDATE TPARAMETRO SET tVersion='4.94.9057'
GO
PRINT ' LISTO '



