ALTER TABLE [DBO].[TDELIVERYCLIENTE] DROP CONSTRAINT [PK_TDELIVERYCLIENTE]
GO
ALTER TABLE [DBO].[TMENSAJECOCINA] DROP CONSTRAINT [PK_TMENSAJECOCINA]
GO
ALTER TABLE [dbo].[APEDIDO] DROP CONSTRAINT [PK_APEDIDO]
GO
ALTER TABLE [dbo].[CPEDIDO] DROP CONSTRAINT [PK_CPEDIDO]
GO
ALTER TABLE [dbo].[DDOCUMENTO] DROP CONSTRAINT [PK_DDOCUMENTO] 
GO
ALTER TABLE [dbo].[DGUIATRANSPORTE] DROP CONSTRAINT [PK_DGUIATRANSPORTE]  
GO
ALTER TABLE [dbo].[DPAGODOCUMENTO] DROP CONSTRAINT [PK_DPAGODOCUMENTO]  
GO
ALTER TABLE [dbo].[DPEDIDO] DROP CONSTRAINT [PK_DPEDIDO]  
GO
ALTER TABLE [dbo].[DPREPAGO] DROP CONSTRAINT [PK_DPREPAGO]  
GO
ALTER TABLE [dbo].[MCIERRE] DROP CONSTRAINT [PK_MCIERRE]  
GO
ALTER TABLE [dbo].[MDOCUMENTO] DROP CONSTRAINT [PK_MDOCUMENTO]  
GO
ALTER TABLE [dbo].[MEGRESO] DROP CONSTRAINT [PK_MRECIBO]  
GO
ALTER TABLE [dbo].[MENVIO] DROP CONSTRAINT [PK_MENVIO]  
GO
ALTER TABLE [dbo].[MGUIATRANSPORTE] DROP CONSTRAINT [PK_MGUIATRANSPORTE]  
GO
ALTER TABLE [dbo].[MINGRESO] DROP CONSTRAINT [PK_MINGRESO]  
GO
ALTER TABLE [dbo].[MNOTACREDITO] DROP CONSTRAINT [PK_MNOTACREDITO]  
GO
ALTER TABLE [dbo].[MPEDIDO] DROP CONSTRAINT [PK_MPEDIDO]  
GO
ALTER TABLE [dbo].[MPROPINA] DROP CONSTRAINT [PK_MPROPINA]  
GO
ALTER TABLE [dbo].[MTURNO] DROP CONSTRAINT [PK_MTURNO]  
GO
ALTER TABLE [dbo].[TAREAIMPRESORA] DROP CONSTRAINT [PK_TAREAIMPRESORA]  
GO
ALTER TABLE [dbo].[TCAJA] DROP CONSTRAINT [PK_TCAJA]  
GO
ALTER TABLE [dbo].[TCLIENTE] DROP CONSTRAINT [PK_TCLIENTE]  
GO
ALTER TABLE [dbo].[TCOMBO] DROP CONSTRAINT [PK_TCOMBO]  
GO
ALTER TABLE [dbo].[TCOMPANIA] DROP CONSTRAINT [PK_TCOMPANIA]  
GO
ALTER TABLE [dbo].[TDELIVERY] DROP CONSTRAINT [PK_TDELIVERY]  
GO
ALTER TABLE [dbo].[TGRUPO] DROP CONSTRAINT [PK_TGRUPO]  
GO
ALTER TABLE [dbo].[TGRUPOUSUARIO] DROP CONSTRAINT [PK_TGRUPOUSUARIO]  
GO
ALTER TABLE [dbo].[TIMPRESORA] DROP CONSTRAINT [PK_TIMPRESORA]  
GO
ALTER TABLE [dbo].[TMESA] DROP CONSTRAINT [PK_TMESA]  
GO
ALTER TABLE [dbo].[TMODULO] DROP CONSTRAINT [PK_TMODULO]  
GO
ALTER TABLE [dbo].[TMOTIVODESCUENTO] DROP CONSTRAINT [PK_TMOTIVODESCUENTO]  
GO
ALTER TABLE [dbo].[TOFERTA] DROP CONSTRAINT [PK_TOFERTA]  
GO
ALTER TABLE [dbo].[TPARAMETRO] DROP CONSTRAINT [PK_TPARAMETRO]  
GO
ALTER TABLE [dbo].[TPRODUCTO] DROP CONSTRAINT [PK_TPRODUCTO]  
GO
ALTER TABLE [dbo].[TPRODUCTOAREA] DROP CONSTRAINT [PK_TPRODUCTOAREA]  
GO
ALTER TABLE [dbo].[TPROPIEDAD] DROP CONSTRAINT [PK_TPROPIEDAD]  
GO
ALTER TABLE [dbo].[TRESERVA] DROP CONSTRAINT [PK_TRESERVA]  
GO
ALTER TABLE [dbo].[TSUBGRUPO] DROP CONSTRAINT [PK_TSUBGRUPO]  
GO
ALTER TABLE [dbo].[TTABLA] DROP CONSTRAINT [PK_TTABLA]  
GO
ALTER TABLE [dbo].[TTARJETACREDITO] DROP CONSTRAINT [PK_TTARJETACREDITO]  
GO
ALTER TABLE [dbo].[TTIENDA] DROP CONSTRAINT [PK_TTIENDA]  
GO
ALTER TABLE [dbo].[TTIPOCAMBIO] DROP CONSTRAINT [PK_TTIPOCAMBIO]  
GO
ALTER TABLE [dbo].[TTIPODOCUMENTO] DROP CONSTRAINT [PK_TTIPODOCUMENTO]  
GO
ALTER TABLE [dbo].[TTIPODOCUMENTOIMPRESORA] DROP CONSTRAINT [PK_TTIPODOCUMENTOIMPRESORA]  
GO
ALTER TABLE [dbo].[TUSUARIO] DROP CONSTRAINT [PK_TUSUARIO]  
GO
ALTER TABLE [dbo].[TPRODUCTOPROPIEDAD] DROP CONSTRAINT [PK_TPRODUCTOPROPIEDAD]  
GO
ALTER TABLE [dbo].[TCOMBOPROPIEDAD] DROP CONSTRAINT [PK_TCOMBOPROPIEDAD]  
GO
ALTER TABLE [dbo].[TLOG] DROP CONSTRAINT [PK_TLOG]  
GO
ALTER TABLE [dbo].[TOPERADOR] DROP CONSTRAINT [PK_TOPERADOR]  
GO
ALTER TABLE [dbo].[TACCESO] DROP CONSTRAINT [PK_ACCESO]  
GO
ALTER TABLE [dbo].[TGRUPOACCESO] DROP CONSTRAINT [PK_GRUPOACCESO]  
GO
ALTER TABLE [dbo].[DPAGOTARJETA] DROP CONSTRAINT [PK_DPAGOTARJETA]  
GO
ALTER TABLE [dbo].[TPEDIDO] DROP CONSTRAINT [PK_TPEDIDO]  
GO
ALTER TABLE [dbo].[TPRODUCTOXPRODUCTO] DROP CONSTRAINT [PK_TPRODUCTOXPRODUCTO]
GO
ALTER TABLE [dbo].[TPEDIDOMESA] DROP CONSTRAINT [PK_TPEDIDOMESA]
GO
ALTER TABLE [dbo].[TLOCAL] DROP CONSTRAINT [PK_TLOCAL]
GO
ALTER TABLE [dbo].[TACCESOENVIA] DROP CONSTRAINT [PK_TACCESOENVIA]
GO
ALTER TABLE [dbo].[DPEDIDOKDS] DROP CONSTRAINT [PK_DPEDIDOKDS_1]
GO
ALTER TABLE [dbo].[TORIGENCODIGOCONTROL] DROP CONSTRAINT [PK_TORIGENCODIGOCONTROL]
GO
ALTER TABLE [DBO].[TINSUMO] DROP CONSTRAINT [PK_TINSUMO]
GO
ALTER TABLE [DBO].[TCANALVENTA] DROP CONSTRAINT [PK_TCANALVENTA]
GO
ALTER TABLE [DBO].[TMOTORIZADODATOS] DROP CONSTRAINT [PK_TMOTORIZADODATOS]
GO
ALTER TABLE [DBO].[TIMPORTACION] DROP CONSTRAINT [PK_TIMPORTACION]
GO
ALTER TABLE [DBO].[TTRAMITE] DROP CONSTRAINT [PK_TTRAMITE]
GO
ALTER TABLE [DBO].[TSOLICITUD] DROP CONSTRAINT [PK_TSOLICITUD]
GO
ALTER TABLE [DBO].[TSOLICITUDDETALLE] DROP CONSTRAINT [PK_TSOLICITUDDETALLE]
GO
ALTER TABLE [DBO].[TDELIVERYINVITADO] DROP CONSTRAINT [PK_TDELIVERYINVITADO]
GO
ALTER TABLE [DBO].[TPARIENTE] DROP CONSTRAINT [PK_TPARIENTE]
GO
ALTER TABLE [DBO].[TAREASUBGRUPO] DROP CONSTRAINT [PK_TAREASUBGRUPO]
GO
ALTER TABLE [DBO].[TLISTAESPERA] DROP CONSTRAINT [PK_TLISTAESPERA]
GO
ALTER TABLE [dbo].[TIMPRESORAIMPRESION] DROP  CONSTRAINT [PK_TIMPRESORAIMPRESION] 
GO
ALTER TABLE [dbo].[VISOR_DPEDIDO] DROP  CONSTRAINT [PK_VISOR_DPEDIDO] 
GO
ALTER TABLE [dbo].[TPRODUCTOSUNAT] DROP  CONSTRAINT [PK_TPRODUCTOSUNAT] 
GO
ALTER TABLE [dbo].[TCLASESUNAT] DROP  CONSTRAINT [PK_TCLASESUNAT] 
GO
ALTER TABLE [dbo].[TFAMILIASUNAT] DROP  CONSTRAINT [PK_TFAMILIASUNAT] 
GO
ALTER TABLE [dbo].[TSEGMENTOSUNAT] DROP  CONSTRAINT [PK_TSEGMENTOSUNAT] 
GO
ALTER TABLE [dbo].[LOG_INFOREST] DROP  CONSTRAINT [PK_LOG_INFOREST] 
GO
ALTER TABLE [LOG_INFOREST] ALTER COLUMN ID BIGINT NOT NULL
go
------------------------------------------------------
ALTER TABLE [dbo].[LOG_INFOREST] WITH NOCHECK ADD 
	CONSTRAINT [PK_LOG_INFOREST] PRIMARY KEY  CLUSTERED 
	(
		[ID] ASC
	) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TIMPRESORAIMPRESION] WITH NOCHECK ADD 
	CONSTRAINT [PK_TIMPRESORAIMPRESION] PRIMARY KEY  CLUSTERED 
	(
		[tImpresora]    
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TDELIVERYCLIENTE] WITH NOCHECK ADD 
	CONSTRAINT [PK_TDELIVERYCLIENTE] PRIMARY KEY  CLUSTERED 
	(
		[nCorrelativo]    
	) ON [PRIMARY]
GO


ALTER TABLE [dbo].[TPARIENTE] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPARIENTE] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPariente]  ,
		[tCodigoDelivery]  
	) ON [PRIMARY]
GO


ALTER TABLE [dbo].[TDELIVERYINVITADO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TDELIVERYINVITADO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoInvitado]  
	) ON [PRIMARY]
GO


ALTER TABLE [dbo].[TPARAMETRO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPARAMETRO] PRIMARY KEY  CLUSTERED 
	(
		[tIdentificacionTributaria]
	)  ON [PRIMARY] 
GO


ALTER TABLE [dbo].[TMOTORIZADODATOS] WITH NOCHECK ADD 
	CONSTRAINT [PK_TMOTORIZADODATOS] PRIMARY KEY  CLUSTERED 
	(
		[tCodigo]
		 
	)  ON [PRIMARY] 
GO

ALTER TABLE [DBO].[TINSUMO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TINSUMO] PRIMARY KEY  CLUSTERED 
	(
		[TCODIGO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[APEDIDO] WITH NOCHECK ADD 
	CONSTRAINT [PK_APEDIDO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido],
		[tItem]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[CPEDIDO] WITH NOCHECK ADD 
	CONSTRAINT [PK_CPEDIDO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido],
		[tItem],
		[tItemCombo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DDOCUMENTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_DDOCUMENTO] PRIMARY KEY  CLUSTERED 
	(
		[tDocumento],
		[tItem],
		[tCodigoPedido]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DGUIATRANSPORTE] WITH NOCHECK ADD 
	CONSTRAINT [PK_DGUIATRANSPORTE] PRIMARY KEY  CLUSTERED 
	(
		[tGuiaTransporte],
		[tItem]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DPAGODOCUMENTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_DPAGODOCUMENTO] PRIMARY KEY  CLUSTERED 
	(
		[tDocumento],
		[tCorrelativo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DPEDIDO] WITH NOCHECK ADD 
	CONSTRAINT [PK_DPEDIDO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido],
		[tItem]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DPREPAGO] WITH NOCHECK ADD 
	CONSTRAINT [PK_DPREPAGO] PRIMARY KEY  CLUSTERED 
	(
		[tDocumento],
		[tCorrelativo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MCIERRE] WITH NOCHECK ADD 
	CONSTRAINT [PK_MCIERRE] PRIMARY KEY  CLUSTERED 
	(
		[tPeriodo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MDOCUMENTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MDOCUMENTO] PRIMARY KEY  CLUSTERED 
	(
		[tDocumento]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MEGRESO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MRECIBO] PRIMARY KEY  CLUSTERED 
	(
		[tRecibo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MENVIO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MENVIO] PRIMARY KEY  CLUSTERED 
	(
		[fInicio]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MGUIATRANSPORTE] WITH NOCHECK ADD 
	CONSTRAINT [PK_MGUIATRANSPORTE] PRIMARY KEY  CLUSTERED 
	(
		[tGuiaTransporte]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MINGRESO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MINGRESO] PRIMARY KEY  CLUSTERED 
	(
		[tRecibo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MNOTACREDITO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MNOTACREDITO] PRIMARY KEY  CLUSTERED 
	(
		[tNotaCredito]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MPEDIDO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MPEDIDO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MPROPINA] WITH NOCHECK ADD 
	CONSTRAINT [PK_MPROPINA] PRIMARY KEY  CLUSTERED 
	(
		[tcodigopedido]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MTURNO] WITH NOCHECK ADD 
	CONSTRAINT [PK_MTURNO] PRIMARY KEY  CLUSTERED 
	(
		[tTurno]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TAREAIMPRESORA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TAREAIMPRESORA] PRIMARY KEY  CLUSTERED 
	(
		[tCaja],
		[tArea]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TCAJA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TCAJA] PRIMARY KEY  CLUSTERED 
	(
		[tCaja]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TCLIENTE] WITH NOCHECK ADD 
	CONSTRAINT [PK_TCLIENTE] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoCliente]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TCOMBO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TCOMBO] PRIMARY KEY  CLUSTERED 
	(
		[tCombo],
		[tCodigoProducto]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TCOMPANIA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TCOMPANIA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoCliente]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TDELIVERY] WITH NOCHECK ADD 
	CONSTRAINT [PK_TDELIVERY] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoDelivery]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TGRUPO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TGRUPO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoGrupo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TGRUPOUSUARIO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TGRUPOUSUARIO] PRIMARY KEY  CLUSTERED 
	(
		[tGrupoUsuario]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TIMPRESORA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TIMPRESORA] PRIMARY KEY  CLUSTERED 
	(
		[tCaja],
		[tImpresora]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TMESA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TMESA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoMesa]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TMODULO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TMODULO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoModulo],
		[tSecuencia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TMOTIVODESCUENTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TMOTIVODESCUENTO] PRIMARY KEY  CLUSTERED 
	(
		[tDescuento]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TOFERTA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TOFERTA] PRIMARY KEY  CLUSTERED 
	(
		[tOferta],
		[tCodigoProducto]
	)  ON [PRIMARY] 
GO



ALTER TABLE [dbo].[TPRODUCTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPRODUCTO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoProducto]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TPRODUCTOAREA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPRODUCTOAREA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoProducto],
		[tArea]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TPROPIEDAD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPROPIEDAD] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPropiedad],
		[tProducto]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRESERVA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TRESERVA] PRIMARY KEY  CLUSTERED 
	(
		[tReserva]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TSUBGRUPO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TSUBGRUPO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoGrupo],
		[tCodigoSubgrupo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TTABLA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTABLA] PRIMARY KEY  CLUSTERED 
	(
		[TTABLA],
		[TCODIGO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TTARJETACREDITO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTARJETACREDITO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoTarjeta]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TTIENDA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTIENDA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoDelivery],
		[tCodigoTienda]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TTIPOCAMBIO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTIPOCAMBIO] PRIMARY KEY  CLUSTERED 
	(
		[fFecha]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TTIPODOCUMENTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTIPODOCUMENTO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoTipoDocumento]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TTIPODOCUMENTOIMPRESORA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTIPODOCUMENTOIMPRESORA] PRIMARY KEY  CLUSTERED 
	(
		[tCaja],
		[tTipoEmision]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TUSUARIO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TUSUARIO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoUsuario]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TPRODUCTOPROPIEDAD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPRODUCTOPROPIEDAD] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido] ,
		[tItem] ,
		[tCodigoPropiedad] ,
		[tProducto],
		[tEnlace]
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TCOMBOPROPIEDAD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TCOMBOPROPIEDAD] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido] ,
		[tItem] ,
		[tItemCombo] ,
		[tCodigoPropiedad],
		[tProducto],
		[tEnlace]
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TLOG] WITH NOCHECK ADD 
	CONSTRAINT [PK_TLOG] PRIMARY KEY  CLUSTERED 
	(
		[tCorrelativo] 
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TOPERADOR] WITH NOCHECK ADD 
	CONSTRAINT [PK_TOPERADOR] PRIMARY KEY  CLUSTERED 
	(
		[tOperador] 
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TACCESO] WITH NOCHECK ADD 
	CONSTRAINT [PK_ACCESO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoAcceso] 
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TGRUPOACCESO] WITH NOCHECK ADD 
	CONSTRAINT [PK_GRUPOACCESO] PRIMARY KEY  CLUSTERED 
	(
		[tGrupoUsuario],
		[tCodigoAcceso] 
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[DPAGOTARJETA] WITH NOCHECK ADD 
	CONSTRAINT [PK_DPAGOTARJETA] PRIMARY KEY  CLUSTERED 
	(
		[tDocumento],
		[tReferencia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TPEDIDO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPEDIDO] PRIMARY KEY  CLUSTERED 
	(
		[nCorrelativo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TPRODUCTOXPRODUCTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPRODUCTOXPRODUCTO] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoProducto],
		[tSubProducto]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TPEDIDOMESA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TPEDIDOMESA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido],
		[tMesa]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TLOCAL] WITH NOCHECK ADD 
	CONSTRAINT [PK_TLOCAL] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoLocal]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TACCESOENVIA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TACCESOENVIA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoAcceso]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DPEDIDOKDS] WITH NOCHECK ADD 
	CONSTRAINT [PK_DPEDIDOKDS_1] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoPedido],
		[tItem]
	)  ON [PRIMARY] 
GO
ALTER TABLE [dbo].[TORIGENCODIGOCONTROL] WITH NOCHECK ADD 
	CONSTRAINT [PK_TORIGENCODIGOCONTROL] PRIMARY KEY  CLUSTERED 
	(
		[tCaja] ,
		[nCorrelativo]
	) ON [PRIMARY]
GO
ALTER TABLE [DBO].[TMENSAJECOCINA] WITH NOCHECK ADD
	CONSTRAINT [PK_TMENSAJECOCINA] PRIMARY KEY CLUSTERED
	(
		[codigo]
	) ON [PRIMARY]
GO

ALTER TABLE [DBO].[TCANALVENTA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TCANALVENTA] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoCanalVenta]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TIMPORTACION] WITH NOCHECK ADD 
	CONSTRAINT [PK_TIMPORTACION] PRIMARY KEY  CLUSTERED 
	(
		[tCodigo] ,
		[nOrden]
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TTRAMITE] WITH NOCHECK ADD 
	CONSTRAINT [PK_TTRAMITE] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoTramite]  
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TSOLICITUD] WITH NOCHECK ADD 
	CONSTRAINT [PK_TSOLICITUD] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoSolicitud]  
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TSOLICITUDDETALLE] WITH NOCHECK ADD 
	CONSTRAINT [PK_TSOLICITUDDETALLE] PRIMARY KEY  CLUSTERED 
	(
		[tCodigoSolicitud]  ,
		[nCorrelativo]  
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TAREASUBGRUPO] WITH NOCHECK ADD 
	CONSTRAINT [PK_TAREASUBGRUPO] PRIMARY KEY  CLUSTERED 
	(
		[tCaja],
		[tSubgrupo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TLISTAESPERA] WITH NOCHECK ADD 
	CONSTRAINT [PK_TLISTAESPERA] PRIMARY KEY  CLUSTERED 
	(
		[tListaespera]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[VISOR_DPEDIDO] WITH NOCHECK ADD 
 CONSTRAINT [PK_VISOR_DPEDIDO] PRIMARY KEY CLUSTERED 
(
	[tCodigoPedido] ASC,
	[tItem] ASC
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TPRODUCTOSUNAT] WITH NOCHECK ADD 
 CONSTRAINT [PK_TPRODUCTOSUNAT] PRIMARY KEY CLUSTERED 
(
	[tCodigoProducto] ASC
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TCLASESUNAT] WITH NOCHECK ADD 
 CONSTRAINT [PK_TCLASESUNAT] PRIMARY KEY CLUSTERED 
(
	[tCodigoClase] ASC
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TFAMILIASUNAT] WITH NOCHECK ADD 
 CONSTRAINT [PK_TFAMILIASUNAT] PRIMARY KEY CLUSTERED 
(
	[tCodigoFamilia] ASC
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TSEGMENTOSUNAT] WITH NOCHECK ADD 
 CONSTRAINT [PK_TSEGMENTOSUNAT] PRIMARY KEY CLUSTERED 
(
	[tCodigoSegmento] ASC
) ON [PRIMARY]

GO
print 'Lineas de Indices'
go
drop index MPEDIDO.IX_MPEDIDO
go
CREATE  INDEX [IX_MPEDIDO] ON [dbo].[MPEDIDO]([tEstadoPedido], [tTipoPedido], [tCaja]) ON [PRIMARY]
GO
drop index DPEDIDO.IX_DPEDIDO
go
CREATE  INDEX [IX_DPEDIDO] ON [dbo].[DPEDIDO]([tFacturado], [tEstadoItem], [tdocumento]) ON [PRIMARY]
GO
drop index MDOCUMENTO.IX_MDOCUMENTO
go
CREATE  INDEX [IX_MDOCUMENTO] ON [dbo].[MDOCUMENTO]([tEstadoDocumento], [tCaja]) ON [PRIMARY]
GO
drop index TDELIVERY.IX_TDELIVERY
go
CREATE  INDEX [IX_TDELIVERY] ON [dbo].[TDELIVERY]([tTelefono]) ON [PRIMARY]
GO
drop index MPEDIDO.FACTURACIONINFHOTEL
go
CREATE INDEX [FACTURACIONINFHOTEL] ON [dbo].[MPEDIDO]([tComanda], [tHabitacion], [tReserva]) ON [PRIMARY]
GO





