<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="Certificados" type="Carvajal.FEPE.PreSC.Configuration.CertificateSectionHandler, Carvajal.FEPE.PreSC"/>
  </configSections>

  <appSettings>
    <!-- CONEXION  -->
    <add key="SERVIDOR" value="INFLIMDES05"/>
    <add key="BASEDATO" value="GESA"/>

    <!-- RUTA DE DLL -->
    <add key="Ruta_Directorio_Mapas" value="C:\FACTURACION GRIFO GESA\FEPE\Mapas"/>
    <add key="Ruta_Directorio_Esquemas" value="C:\FACTURACION GRIFO GESA\FEPE\Esquemas"/>
    <add key="Nombre_Mapa_Notas" value="NOTAS_STD20.xml"/>
    <add key="Nombre_Mapa_Facturas_Boletas" value="FACTURA_BOLETA_STD20.xml"/>
    <add key="Nombre_Esquema_Notas" value="NOTAS20.xml"/>
    <add key="Nombre_Esquema_Facturas_Boletas" value="FACTURA_BOLETA20.xml"/>
    <add key="Ruta_Salida_XML_Firmado" value="C:\FACTURACION GRIFO GESA\FEPE\xml\"/>
  </appSettings>

  <Certificados>
    <Certificado>
      <Ruc_Emisor>20100111838</Ruc_Emisor>
      <Certificado_Thumbprint>‎08 a5 95 f2 d6 10 10 47 f9 7d d5 34 04 a8 ac b6 d1 68 0e 6a</Certificado_Thumbprint>
    </Certificado>
  </Certificados>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
